
<form (ngSubmit)="save()">
<div class="form-group">
    <label>Field name</label>
    <input type="text" class="form-control" ngModel name="name">
</div>

<div class="form-check">
    <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" ngModel name="active"> Active
    </label>
</div>

<div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" [value]="true" ngModel name="enabled"> Enabled 
        </label>
    </div>
    
    <div class="form-check">
    <label class="form-check-label">
            <input class="form-check-input" type="radio" [value]="false" ngModel name="enabled"> Disabled 
        </label>
    </div>

    <div class="form-group">
            <label>Field hints</label>
            <textarea type="text" class="form-control" ngModel name="hints"></textarea>
    </div>

    <div class="form-group">
            <label>Field type</label>
            <select class="form-control" ngModel [compareWith]="compareType" multiplegit name="type">
                <option *ngFor="let option of fieldTypes" [ngValue]="option">{{option.label}}</option>
            </select>
    </div>

    <input type="checkbox" ngModel name="has_extra">

    <ng-container ngModelGroup="extra" *ngIf="form.value.has_extra">
    <div class="form-group" *ngFor="let options of extra_fields">
        <label>Extra</label>
        <input type="text" class="form-control" ngModel [name]="options">
    </div>
    <input #key>    
    <button (click)="addExtra(key.value)">add</button>
</ng-container>


    <div class="form-group">
        <button class="btn btn-success">Save</button>
        <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
    </div>

    <pre>
        Model: {{ form.value | json }}
    </pre>
</form>
